#credit-card {
  position: absolute;
  z-index: 1000;
  height: 7rem;
  width: 50%;
  color: #ffffff;
  background-color: #6c757d;
  top: -4rem;
  left: 25%;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#credit-card > div {
  display: flex;
  align-items: center;
}

#credit-card h3 {
  font-family: 'Stint Ultra Expanded', cursive;
  font-size: 0.7rem;
  text-shadow: 1px 1px #000000;
  margin-right: 0;
  padding-right: 0;
}

@-webkit-keyframes text-incoming {
  0%   { opacity: 0;
         transform: translate(0, -10px); }
  100% { opacity: 1;
         transform: translate(0, 10px); }
}

@-moz-keyframes text_incoming {
  0%   { opacity: 0;
         transform: translate(0, -10px); }
  100% { opacity: 1;
         transform: translate(0, 10px); }
}

@-o-keyframes text_incoming {
  0%   { opacity: 0;
         transform: translate(0, -10px); }
  100% { opacity: 1;
         transform: translate(0, 10px); }
}

@keyframes text_incoming {
  0%   { opacity: 0;
         transform: translate(0, -10px); }
  100% { opacity: 1;
         transform: translate(0, 0); }
}

#current-number {
  -webkit-animation: text_incoming 0.5s;
  -moz-animation: text_incoming 0.5s;
  -o-animation: text_incoming 0.5s;
  animation: text_incoming 0.5s;
}

#credit-card h4 {
  font-size: 0.5rem;
  padding: 0 0 0 0.5rem;
  margin: 0;
  color: #ffffff;
}

.top-section {
  width: 50%;
}

#credit-card img {
  height: 2rem;
  width: auto;
  float: right;
  padding-right: 0.3rem;
  -webkit-transition: opacity 0.8s ease-out;
  -moz-transition: opacity 0.8s ease-out;
  -o-transition: opacity 0.8s ease-out;
  transition: opacity 0.8s ease-out;
}

.transitioning-logo {
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-out;
  -moz-transition: opacity 0.8s ease-out;
  -o-transition: opacity 0.8s ease-out;
  transition: opacity 0.8s ease-out;
}

.chip {
  height: 0.5rem;
  width: 0.5rem;
  float: left;
}

.expiry {

}

.invalid-input {
  border-color: #aa1111;
  color: #aa1111 !important;
}

.invalid-input:focus {
  border-color: #aa1111;
  box-shadow: none;
}

.invalid-input::-webkit-input-placeholder {
  color: #aa1111 !important;
}

.invalid-input::-moz-placeholder {
  color: #aa1111 !important;
}

.invalid-input::-ms-placeholder {
  color: #aa1111 !important;
}

.invalid-input::placeholder {
  color: #aa1111 !important;
}

.invalid-input-message {
  color: #aa1111;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
