#loading-page-text {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 1.3rem;
}

#loading-page-graphic {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 3rem;
}

@-webkit-keyframes loading-animation {
  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.0);
  }
}

@-moz-keyframes loading-animation {
  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.0);
  }
}

@-o-keyframes loading-animation {
  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes loading-animation {
  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1.0);
  }
}

.loading-page-graphic-circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #6c757d;
}

.loading-page-graphic-circle-animation {
  -webkit-animation: loading-animation 1.5s;
  -moz-animation: loading-animation 1.5s;
  -o-animation: loading-animation 1.5s;
  animation: loading-animation 1.5s;
}
